<div class="d-flex align-items-stretch flex-shrink-0 pt-2">
  <!--begin::Search-->
  <div class="d-flex align-items-stretch ms-1 ms-lg-3">
    <div class="d-flex align-items-stretch">
      <div class="d-flex align-items-center">
        <div
          class="btn btn-icon btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-40px h-md-40px">
          <span [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"
            class="svg-icon svg-icon-1">
          </span>
        </div>
      </div>
    </div>
  </div>
  <!--end::Search-->
  <!--begin::Activities-->
  <div class="d-flex align-items-center ms-1 ms-lg-3">
    <div
      class="btn btn-icon btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-40px h-md-40px">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen032.svg'"
        class="svg-icon svg-icon-1">
      </span>
    </div>
  </div>
  <!--end::Activities-->
  <!--begin::Notifications-->
  <div class="d-flex align-items-center ms-1 ms-lg-3">
    <div
      class="btn btn-icon btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-40px h-md-40px">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen022.svg'"
        class="svg-icon svg-icon-1">
      </span>
    </div>
  </div>
  <!--end::Notifications-->
  <!--begin::Chat-->
  <div class="d-flex align-items-center ms-1 ms-lg-3">
    <div
      class="btn btn-icon btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-40px h-md-40px position-relative">
      <span [inlineSVG]="'./assets/media/icons/duotune/communication/com012.svg'"
        class="svg-icon svg-icon-1">
      </span>
      <span
        class="bullet bullet-dot bg-success h-6px w-6px position-absolute translate-middle top-0 start-50 animation-blink"></span>
    </div>
  </div>
  <!--end::Chat-->
  <!--begin::Quick links-->
  <div class="d-flex align-items-center ms-1 ms-lg-3">
    <div
      class="btn btn-icon btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-40px h-md-40px">
      <span [inlineSVG]="'./assets/media/icons/duotune/general/gen025.svg'"
        class="svg-icon svg-icon-1">
      </span>
    </div>
  </div>
  <!--end::Quick links-->
  <!--begin::User menu-->
  <div class="d-flex align-items-center ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
    <div class="cursor-pointer symbol symbol-30px symbol-md-40px">
      <img src="./assets/media/avatars/150-2.jpg" alt="user" />
    </div>
  </div>
  <!--end::User menu-->
</div>
