<!-- begin:: Header -->
<div class="card-header align-items-center border-0 mt-4">
  <h3 class="card-title align-items-start flex-column">
    <span class="fw-bolder mb-2 text-dark cursor-default">Current Bill</span>
    <span class="text-muted fw-bold fs-7 cursor-default">Add or remove items of current
      bill</span>
  </h3>
</div>
<!-- end:: Header -->
<div class="card-body pt-5">
  <div class="d-flex flex-row justify-content-between g-xl-8 gy-5">
    <h3 class="text-muted fw-bold fs-7 cursor-default">Code</h3>
    <h3 class="text-muted fw-bold fs-7 cursor-default">Name</h3>
    <h3 class="text-muted fw-bold fs-7 cursor-default">Qty.</h3>
    <h3 class="text-muted fw-bold fs-7 cursor-default">Price</h3>
    <h3 class="text-muted fw-bold fs-7 cursor-default">Options</h3>
  </div>
</div>
<!-- begin::Body-->
<div class="card-body pt-5" [ngStyle]="{overflowY: 'auto', maxHeight: '480px'}">
  <div class="timeline-label">
    <!-- begin::Item-->
    <div class="timeline-item">
      <div class="timeline-label fw-bolder text-gray-800 fs-6">
        xxx
      </div>
      <!-- begin:: Badges -->
      <div class="timeline-badge">
        <i class="fa fa-genderless text-warning fs-1"></i>
      </div>
      <!-- end:: Badges-->
      <div class="fw-mormal timeline-content text-muted ps-3">
        xxx <span class="text-primary">#Rs. xxx</span>
      </div>
    </div>
    <!-- end::Item-->
  </div>
</div>
<!-- end: Card Body-->
