<!-- begin:: Header -->
<div class="card-header align-items-center border-0 mt-4">
  <h3 class="card-title align-items-start flex-column">
    <span class="fw-bolder mb-2 text-dark cursor-default">Current Bill</span>
    <span class="text-muted fw-bold fs-7 cursor-default">Add or remove items of current
      bill</span>
  </h3>
</div>
<!-- begin::Body-->
<div class="card-body" [ngStyle]="{overflowY: 'auto', maxHeight: '480px'}">
  <div class="d-flex flex-row justify-content-between g-xl-8 gy-5">
    <div class="col-2 d-flex flex-row align-items-center justify-content-start">
      <h3 class="text-muted fw-bold fs-7 cursor-default">Code</h3>
    </div>
    <div class="col-3 d-flex flex-row align-items-center justify-content-center">
      <h3 class="text-muted fw-bold fs-7 cursor-default">Name</h3>
    </div>
    <div class="col-2 d-flex flex-row align-items-center justify-content-end">
      <h3 class="text-muted fw-bold fs-7 cursor-default">Qty.</h3>
    </div>
    <div class="col-2 d-flex flex-row align-items-center justify-content-end">
      <h3 class="text-muted fw-bold fs-7 cursor-default">Price</h3>
    </div>
    <div class="col-3 d-flex flex-row align-items-center justify-content-end">
      <h3 class="text-muted fw-bold fs-7 cursor-default">Options</h3>
    </div>
  </div>
  <!--begin::items-->
 <div class="d-flex flex-row justify-content-between g-xl-8 gy-5 mt-5"
 *ngFor="let item of items">
 <div class="col-2 d-flex flex-row align-items-center justify-content-start">
   <p class="fs-7 cursor-default">{{item.code}}</p>
 </div>
 <div class="col-3 d-flex flex-row align-items-center justify-content-center">
   <p class="fs-7 cursor-default">{{item.name}}</p>
 </div>
 <div class="col-2 d-flex flex-row align-items-center justify-content-end">
   <p class="fs-7 cursor-default">{{item.price}}</p>
 </div>
 <div class="col-2 d-flex flex-row align-items-center justify-content-end">
   <p class="fs-7 cursor-default">{{item.stock}}</p>
 </div>
 <div class="col-3 d-flex flex-row align-items-center justify-content-end">
  <p class="fs-7 cursor-default">{{item.options}}</p>
</div>
</div>
<!--end::items-->
</div>
<!-- end: Card Body-->
<div class="card-body pt-5">
  <!-- begin::options-->
  <div class="row">
    <div class="col-4">
      <div class="input-group has-validation">
        <span class="input-group-text text-muted fs-7" id="inputGroupPrepend">Qty.</span>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-4">
      <div class="input-group has-validation">
        <span class="input-group-text text-muted fs-7" id="inputGroupPrepend">Price</span>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-4">
      <div class="input-group has-validation">
        <span class="input-group-text text-muted fs-7" id="inputGroupPrepend">Gross Total</span>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <!--end::options-->
  <!--begin::qty +- options/discount/net-->
  <div class="row mt-2">
    <div class="col-4">
      <div class="d-flex flex-row justify-content-center mt-1">
        <div
          class="d-flex align-items-stretch ms-1 ms-lg-3 btn btn-icon btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px w-md-45px h-md-45px">
          <div class="d-flex align-items-stretch">
            <div class="d-flex align-items-center">
              <span [inlineSVG]="'./assets/media/icons/duotune/general/gen035.svg'"
                class="svg-icon svg-icon-1 svg-icon-muted"></span>
            </div>
          </div>
        </div>
        <div
          class="d-flex align-items-stretch ms-1 ms-lg-3 btn btn-icon btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px w-md-45px h-md-45px">
          <div class="d-flex align-items-stretch">
            <div class="d-flex align-items-center">
              <span [inlineSVG]="'./assets/media/icons/duotune/general/gen036.svg'"
                class="svg-icon svg-icon-1 svg-icon-muted"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="input-group has-validation">
        <span class="input-group-text text-muted fs-7" id="inputGroupPrepend">Discount</span>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-4">
      <div class="input-group has-validation">
        <span class="input-group-text text-muted fs-7" id="inputGroupPrepend">Net Total</span>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <!--end::qty +- options/discount/net-->
  <!--begin::print bill-->
  <div class="row mt-2 d-flex flex-row justify-content-end">
    <div class="col-4">
      <div class="mt-1">
        <div
          class="btn btn-primary">
              Print Bill &nbsp;<span [inlineSVG]="'./assets/media/icons/duotune/coding/cod002.svg'"
                class="svg-icon svg-icon-1 svg-icon-muted"></span>&nbsp; (F5)
        </div>
      </div>
    </div>
  </div>
  <!--end::print bill-->
</div>
