<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
  <!--begin::Header-->
  <div class="header align-items-stretch">
    <!--begin::Container-->
    <div class="container-fluid d-flex align-items-stretch justify-content-between">
      <!--begin::Aside mobile toggle-->
      <div class="d-flex align-items-center d-lg-none ms-n2 me-2" title="Show aside menu">
        <div
          class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px"
          id="kt_aside_mobile_toggle">
          <span [inlineSVG]="'./assets/media/icons/duotune/abstract/abs015.svg'"
            class="svg-icon svg-icon-1">
          </span>
        </div>
      </div>
      <!--end::Aside mobile toggle-->
      <!--begin::Mobile logo-->
      <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
        <a href="../../demo1/dist/index.html" class="d-lg-none">
          <img alt="Logo" src="assets/media/logos/logo-2.svg" class="h-30px" />
        </a>
      </div>
      <!--end::Mobile logo-->
      <!--begin::Wrapper-->
      <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
        <!--begin::Navbar-->
        <div class="d-flex align-items-stretch" id="kt_header_nav">
          <!--begin::Menu wrapper-->
          <div class="header-menu align-items-stretch">
            <!--begin::Menu-->
            <div
              class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch"
              id="#kt_header_menu" data-kt-menu="true">
              <div class="menu-item here show menu-lg-down-accordion me-lg-1">
                <span class="menu-link py-3">
                  <span class="menu-title">Dashboard</span>
                  <span class="menu-arrow d-lg-none"></span>
                </span>
              </div>
              <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start"
                class="menu-item menu-lg-down-accordion me-lg-1">
                <span class="menu-link py-3">
                  <span class="menu-title">Crafted</span>
                  <span class="menu-arrow d-lg-none"></span>
                </span>
              </div>
              <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start"
                class="menu-item menu-lg-down-accordion me-lg-1">
                <span class="menu-link py-3">
                  <span class="menu-title">Apps</span>
                  <span class="menu-arrow d-lg-none"></span>
                </span>
              </div>
              <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start"
                class="menu-item menu-lg-down-accordion me-lg-1">
                <span class="menu-link py-3">
                  <span class="menu-title">Layouts</span>
                  <span class="menu-arrow d-lg-none"></span>
                </span>
              </div>
              <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start"
                class="menu-item menu-lg-down-accordion me-lg-1">
                <span class="menu-link py-3">
                  <span class="menu-title">Resources</span>
                  <span class="menu-arrow d-lg-none"></span>
                </span>
              </div>
              <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start"
                class="menu-item menu-lg-down-accordion me-lg-1">
                <span class="menu-link py-3">
                  <span class="menu-title">Mega Menu</span>
                  <span class="menu-arrow d-lg-none"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!--end::Navbar-->
        <!--begin::Toolbar wrapper-->
        <div class="d-flex align-items-stretch flex-shrink-0">
          <!--begin::Search-->
          <div class="d-flex align-items-stretch ms-1 ms-lg-3">
            <!--begin::Search-->
            <div id="kt_header_search" class="d-flex align-items-stretch">
              <!--begin::Search toggle-->
              <div class="d-flex align-items-center" data-kt-search-element="toggle"
                id="kt_header_search_toggle">
                <div
                  class="btn btn-icon btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-40px h-md-40px">
                  <span [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"
                    class="svg-icon svg-icon-1">
                  </span>
                </div>
              </div>
              <!--end::Search toggle-->
              <!--begin::Menu-->
              <div data-kt-search-element="content"
                class="menu menu-sub menu-sub-dropdown p-7 w-325px w-md-375px">
                <!--begin::Wrapper-->
                <div data-kt-search-element="wrapper">
                  <!--begin::Form-->
                  <form data-kt-search-element="form" class="w-100 position-relative mb-3"
                    autocomplete="off">
                    <!--begin::Icon-->
                    <span [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"
                      class="svg-icon svg-icon-2 svg-icon-lg-1 svg-icon-gray-500 position-absolute top-50 translate-middle-y ms-0">
                    </span>
                    <!--end::Icon-->
                    <!--begin::Input-->
                    <input type="text"
                      class="search-input form-control form-control-flush ps-10"
                      name="search" value="" placeholder="Search..."
                      data-kt-search-element="input" />
                    <!--end::Input-->
                    <!--begin::Spinner-->
                    <span
                      class="position-absolute top-50 end-0 translate-middle-y lh-0 d-none me-1"
                      data-kt-search-element="spinner">
                      <span
                        class="spinner-border h-15px w-15px align-middle text-gray-400"></span>
                    </span>
                    <!--end::Spinner-->
                    <!--begin::Reset-->
                    <span
                      class="btn btn-flush btn-active-color-primary position-absolute top-50 end-0 translate-middle-y lh-0 d-none"
                      data-kt-search-element="clear">
                      <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
                        class="svg-icon svg-icon-2 svg-icon-lg-1 me-0">
                      </span>
                    </span>
                    <!--end::Reset-->
                    <!--begin::Toolbar-->
                    <div class="position-absolute top-50 end-0 translate-middle-y"
                      data-kt-search-element="toolbar">
                      <!--begin::Preferences toggle-->
                      <div data-kt-search-element="preferences-show"
                        class="btn btn-icon w-20px btn-sm btn-active-color-primary me-1"
                        data-bs-toggle="tooltip" title="Show search preferences">
                        <span
                          [inlineSVG]="'./assets/media/icons/duotune/coding/cod001.svg'"
                          class="svg-icon svg-icon-1">
                        </span>
                      </div>
                      <!--end::Preferences toggle-->
                      <!--begin::Advanced search toggle-->
                      <div data-kt-search-element="advanced-options-form-show"
                        class="btn btn-icon w-20px btn-sm btn-active-color-primary"
                        data-bs-toggle="tooltip" title="Show more search options">
                        <span
                          [inlineSVG]="'./assets/media/icons/duotune/arrows/arr072.svg'"
                          class="svg-icon svg-icon-2">
                        </span>
                      </div>
                      <!--end::Advanced search toggle-->
                    </div>
                    <!--end::Toolbar-->
                  </form>
                  <!--end::Form-->
                  <!--begin::Separator-->
                  <div class="separator border-gray-200 mb-6"></div>
                  <!--end::Separator-->
                  <!--begin::Recently viewed-->
                  <div data-kt-search-element="results" class="d-none">
                    <!--begin::Items-->
                    <div class="scroll-y mh-200px mh-lg-350px">
                      <!--begin::Category title-->
                      <h3 class="fs-5 text-muted m-0 pb-5"
                        data-kt-search-element="category-title">Users</h3>
                      <!--end::Category title-->
                      <!--begin::Category title-->
                      <h3 class="fs-5 text-muted m-0 pt-5 pb-5"
                        data-kt-search-element="category-title">Customers</h3>
                      <!--end::Category title-->
                      <!--begin::Item-->
                      <a href="#"
                        class="d-flex text-dark text-hover-primary align-items-center mb-5">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px me-4">
                          <span class="symbol-label bg-light">
                            <img class="w-20px h-20px"
                              src="assets/media/svg/brand-logos/volicity-9.svg" alt="" />
                          </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Title-->
                        <div class="d-flex flex-column justify-content-start fw-bold">
                          <span class="fs-6 fw-bold">Company Rbranding</span>
                          <span class="fs-7 fw-bold text-muted">UI Design</span>
                        </div>
                        <!--end::Title-->
                      </a>
                      <!--end::Item-->
                      <!--begin::Item-->
                      <a href="#"
                        class="d-flex text-dark text-hover-primary align-items-center mb-5">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px me-4">
                          <span class="symbol-label bg-light">
                            <img class="w-20px h-20px"
                              src="assets/media/svg/brand-logos/tvit.svg" alt="" />
                          </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Title-->
                        <div class="d-flex flex-column justify-content-start fw-bold">
                          <span class="fs-6 fw-bold">Company Re-branding</span>
                          <span class="fs-7 fw-bold text-muted">Web Development</span>
                        </div>
                        <!--end::Title-->
                      </a>
                      <!--end::Item-->
                      <!--begin::Item-->
                      <a href="#"
                        class="d-flex text-dark text-hover-primary align-items-center mb-5">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px me-4">
                          <span class="symbol-label bg-light">
                            <img class="w-20px h-20px"
                              src="assets/media/svg/misc/infography.svg" alt="" />
                          </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Title-->
                        <div class="d-flex flex-column justify-content-start fw-bold">
                          <span class="fs-6 fw-bold">Business Analytics App</span>
                          <span class="fs-7 fw-bold text-muted">Administration</span>
                        </div>
                        <!--end::Title-->
                      </a>
                      <!--end::Item-->
                      <!--begin::Item-->
                      <a href="#"
                        class="d-flex text-dark text-hover-primary align-items-center mb-5">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px me-4">
                          <span class="symbol-label bg-light">
                            <img class="w-20px h-20px"
                              src="assets/media/svg/brand-logos/leaf.svg" alt="" />
                          </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Title-->
                        <div class="d-flex flex-column justify-content-start fw-bold">
                          <span class="fs-6 fw-bold">EcoLeaf App Launch</span>
                          <span class="fs-7 fw-bold text-muted">Marketing</span>
                        </div>
                        <!--end::Title-->
                      </a>
                      <!--end::Item-->
                      <!--begin::Item-->
                      <a href="#"
                        class="d-flex text-dark text-hover-primary align-items-center mb-5">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px me-4">
                          <span class="symbol-label bg-light">
                            <img class="w-20px h-20px"
                              src="assets/media/svg/brand-logos/tower.svg" alt="" />
                          </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Title-->
                        <div class="d-flex flex-column justify-content-start fw-bold">
                          <span class="fs-6 fw-bold">Tower Group Website</span>
                          <span class="fs-7 fw-bold text-muted">Google Adwords</span>
                        </div>
                        <!--end::Title-->
                      </a>
                      <!--end::Item-->
                      <!--begin::Category title-->
                      <h3 class="fs-5 text-muted m-0 pt-5 pb-5"
                        data-kt-search-element="category-title">Projects</h3>
                      <!--end::Category title-->
                      <!--begin::Item-->
                      <a href="#"
                        class="d-flex text-dark text-hover-primary align-items-center mb-5">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px me-4">
                          <span class="symbol-label bg-light">
                            <span
                              [inlineSVG]="'./assets/media/icons/duotune/general/gen005.svg'"
                              class="svg-icon svg-icon-2 svg-icon-primary">
                            </span>
                          </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Title-->
                        <div class="d-flex flex-column">
                          <span class="fs-6 fw-bold">Si-Fi Project by AU Themes</span>
                          <span class="fs-7 fw-bold text-muted">#45670</span>
                        </div>
                        <!--end::Title-->
                      </a>
                      <!--end::Item-->
                      <!--begin::Item-->
                      <a href="#"
                        class="d-flex text-dark text-hover-primary align-items-center mb-5">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px me-4">
                          <span class="symbol-label bg-light">
                            <span
                              [inlineSVG]="'./assets/media/icons/duotune/general/gen032.svg'"
                              class="svg-icon svg-icon-2 svg-icon-primary">
                            </span>
                          </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Title-->
                        <div class="d-flex flex-column">
                          <span class="fs-6 fw-bold">Shopix Mobile App Planning</span>
                          <span class="fs-7 fw-bold text-muted">#45690</span>
                        </div>
                        <!--end::Title-->
                      </a>
                      <!--end::Item-->
                      <!--begin::Item-->
                      <a href="#"
                        class="d-flex text-dark text-hover-primary align-items-center mb-5">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px me-4">
                          <span class="symbol-label bg-light">
                            <span
                              [inlineSVG]="'./assets/media/icons/duotune/communication/com012.svg'"
                              class="svg-icon svg-icon-2 svg-icon-primary">
                            </span>
                          </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Title-->
                        <div class="d-flex flex-column">
                          <span class="fs-6 fw-bold">Finance Monitoring SAAS
                            Discussion</span>
                          <span class="fs-7 fw-bold text-muted">#21090</span>
                        </div>
                        <!--end::Title-->
                      </a>
                      <!--end::Item-->
                      <!--begin::Item-->
                      <a href="#"
                        class="d-flex text-dark text-hover-primary align-items-center mb-5">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px me-4">
                          <span class="symbol-label bg-light">
                            <span
                              [inlineSVG]="'./assets/media/icons/duotune/communication/com006.svg'"
                              class="svg-icon svg-icon-2 svg-icon-primary">
                            </span>
                          </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Title-->
                        <div class="d-flex flex-column">
                          <span class="fs-6 fw-bold">Dashboard Analitics Launch</span>
                          <span class="fs-7 fw-bold text-muted">#34560</span>
                        </div>
                        <!--end::Title-->
                      </a>
                      <!--end::Item-->
                    </div>
                    <!--end::Items-->
                  </div>
                  <!--end::Recently viewed-->
                  <!--begin::Recently viewed-->
                  <div class="mb-5" data-kt-search-element="main">
                    <!--begin::Heading-->
                    <div class="d-flex flex-stack fw-bold mb-4">
                      <!--begin::Label-->
                      <span class="text-muted fs-6 me-2">Recently Searched:</span>
                      <!--end::Label-->
                    </div>
                    <!--end::Heading-->
                  </div>
                  <!--end::Recently viewed-->
                </div>
                <!--end::Wrapper-->
              </div>
              <!--end::Menu-->
            </div>
            <!--end::Search-->
          </div>
          <!--end::Search-->
          <!--begin::Activities-->
          <div class="d-flex align-items-center ms-1 ms-lg-3">
            <!--begin::Drawer toggle-->
            <div
              class="btn btn-icon btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-40px h-md-40px"
              id="kt_activities_toggle">
              <span [inlineSVG]="'./assets/media/icons/duotune/general/gen032.svg'"
                class="svg-icon svg-icon-1">
              </span>
            </div>
            <!--end::Drawer toggle-->
          </div>
          <!--end::Activities-->
          <!--begin::Notifications-->
          <div class="d-flex align-items-center ms-1 ms-lg-3">
            <!--begin::Menu- wrapper-->
            <div
              class="btn btn-icon btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-40px h-md-40px"
              data-kt-menu-trigger="click" data-kt-menu-attach="parent"
              data-kt-menu-placement="bottom-end">
              <span [inlineSVG]="'./assets/media/icons/duotune/general/gen022.svg'"
                class="svg-icon svg-icon-1">
              </span>
            </div>
            <!--end::Menu wrapper-->
          </div>
          <!--end::Notifications-->
          <!--begin::Chat-->
          <div class="d-flex align-items-center ms-1 ms-lg-3">
            <!--begin::Menu wrapper-->
            <div
              class="btn btn-icon btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-40px h-md-40px position-relative"
              id="kt_drawer_chat_toggle">
              <span [inlineSVG]="'./assets/media/icons/duotune/communication/com012.svg'"
                class="svg-icon svg-icon-1">
              </span>
              <span
                class="bullet bullet-dot bg-success h-6px w-6px position-absolute translate-middle top-0 start-50 animation-blink"></span>
            </div>
          </div>
          <!--end::Chat-->
          <!--begin::Quick links-->
          <div class="d-flex align-items-center ms-1 ms-lg-3">
            <!--begin::Menu wrapper-->
            <div
              class="btn btn-icon btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-40px h-md-40px"
              data-kt-menu-trigger="click" data-kt-menu-attach="parent"
              data-kt-menu-placement="bottom-end">
              <span [inlineSVG]="'./assets/media/icons/duotune/general/gen025.svg'"
                class="svg-icon svg-icon-1">
              </span>
            </div>
            <!--end::Menu wrapper-->
          </div>
          <!--end::Quick links-->
          <!--begin::User menu-->
          <div class="d-flex align-items-center ms-1 ms-lg-3"
            id="kt_header_user_menu_toggle">
            <!--begin::Menu wrapper-->
            <div class="cursor-pointer symbol symbol-30px symbol-md-40px"
              data-kt-menu-trigger="click" data-kt-menu-attach="parent"
              data-kt-menu-placement="bottom-end">
              <img src="assets/media/avatars/300-1.jpg" alt="user" />
            </div>
            <!--end::Menu wrapper-->
          </div>
          <!--end::User menu-->
          <!--begin::Header menu toggle-->
          <div class="d-flex align-items-center d-lg-none ms-2 me-n3"
            title="Show header menu">
            <div
              class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px"
              id="kt_header_menu_mobile_toggle">
              <span [inlineSVG]="'./assets/media/icons/duotune/text/txt001.svg'"
                class="svg-icon svg-icon-1"></span>
            </div>
          </div>
          <!--end::Header menu toggle-->
        </div>
        <!--end::Toolbar wrapper-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Header-->
</div>
