<div class="wrapper d-flex flex-column flex-row-fluid">
  <!--begin::Header-->
  <div class="header align-items-stretch">
    <!--begin::Container-->
    <div class="container-fluid d-flex align-items-stretch justify-content-between">
      <!--begin::Logo-->
      <div
        class="d-flex flex-row align-items-stretch flex-lg-grow-1 justify-content-between d-lg-none aside aside-hoverable pt-4">
        <span [inlineSVG]="'./assets/media/icons/duotune/abstract/abs005.svg'"
          class="svg-icon svg-icon-2x"></span>
      </div>
      <!--end::Logo-->
      <!--begin::Wrapper-->
      <div class="d-flex align-items-stretch justify-content-between pt-2 flex-lg-grow-1">
        <app-header-menu></app-header-menu>
        <app-topbar></app-topbar>
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Header-->
  <app-toolbar [title]="'Dashboard'"></app-toolbar>
</div>
