<div class="card card-flush mt-5">
  <!--begin::Card header-->
  <div class="card-header align-items-cernter py-5 gap-2 gap-md-5">
    <!--begin::Card title-->
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <span class="svg-icon svg-icon-1 position-absolute ms-4"
          [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"> </span>
        <input type="text" class="form-control form-control-solid w-250px ps-14"
          placeholder="Search Product">
      </div>
      <!--end::Search-->
    </div>
    <!--end::Card title-->
    <!--begin::Card toolbar-->
    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
      <div class="w-100 mw-150px">
        <select name="" id=""
          class="form-select form-select-solid select2-hidden-accessible">
          <option value="all">All</option>
          <option value="published">Published</option>
          <option value="scheduled">Scheduled</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>
      <!--begin::Add product-->
      <a href="" class="btn btn-primary">Add Vehicle</a>
      <!--end::Add product-->
    </div>
    <!--end::Card toolbar-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body pt-0">
    <!--begin::Table-->
    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
      <div class="table-responsive">
        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
          <thead>
            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
              <th class="w-10px pe-2 sorting_disabled" [ngStyle]="{'width':'29.25px'}">
                <div
                  class="form-check form-check-sm form-check-custom form-check-solid me-3">
                  <input type="checkbox" class="form-check-input" value="1">
                </div>
              </th>
              <th class="min-w-200px sorting">Vehicle</th>
              <th class="text-end min-w-100px sorting">Reg.Num.</th>
              <th class="text-end min-w-100px sorting">Brand</th>
              <th class="text-end min-w-100px sorting">Date</th>
              <th class="text-end min-w-100px sorting">Status</th>
              <th class="text-end min-w-100px sorting">Actions</th>
            </tr>
          </thead>
          <tbody class=" fw-bold text-gray-600">
            <tr class="odd">
              <!--begin::checkbox-->
              <td>
                <div class="form-check form-check-sm form-check-custom form-check-solid">
                  <input type="checkbox" value="1" class="form-check-input">
                </div>
              </td>
              <!--end::checkbox-->
              <!--begin::thumbnail & title-->
              <td>
                <div class="d-flex align-items-center">
                  <a href="" class="symbol symbol-50px">
                    <span class="symbol-label"
                      [ngStyle]="{'background-image':'url(./assets/media/ecommerce/6.gif)'}"></span>
                  </a>
                  <div class="ms-5">
                    <a href=""
                      class="text-gray-800 text-hover-primary fs-5 fw-bolder">Vehicle
                      1</a>
                  </div>
                </div>
              </td>
              <!--end::thumbnail & title-->
              <!--begin::RegNum-->
              <td class="text-end pe-0">
                <span class="fw-bolder">0374004</span>
              </td>
              <!--end::RegNum-->
              <!--begin::Brand-->
              <td class="text-end pe-0">
                <span class="fw-bolder text-dark">BMW</span>
              </td>
              <!--end::Brand-->
              <!--begin::Date-->
              <td class="text-end pe-0">
                <span class="fw-bolder text-dark">20-01-2022</span>
              </td>
              <!--end::Date-->
              <!--begin::Status-->
              <td class="text-end pe-0" data-order="Active">
                <div class="badge badge-light-success">Active</div>
              </td>
              <!--end::Status-->
              <!--begin::Action-->
              <td class="text-end">
                <a href="" class="btn btn-sm btn-light-success btn-active-success me-2">
                  <span class="svg-icon svg-icon-5 m-0"
                    [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"></span>
                </a>
                <a href="" class="btn btn-sm btn-light-danger btn-active-danger">
                  <span class="svg-icon svg-icon-5 m-0 "
                    [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"></span>
                </a>
              </td>
              <!--end::Action-->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div
          class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start mb-5">
          <div class="dataTables_length">
            <label for="">
              <select name="" id="" class="form-select form-select-sm form-select-solid">
                <option value="10">10</option>
                <option value="10">25</option>
                <option value="10">50</option>
                <option value="10">100</option>
              </select>
            </label>
          </div>
        </div>
        <div
          class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end mb-5">
          <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
              <li class="paginate_button page-item previous disabled">
                <a href="" class="page-link">
                  <i class="previous"></i>
                </a>
              </li>
              <li class="paginate_button page_item active">
                <a href="" class="page-link">1</a>
              </li>
              <li class="paginate_button page_item">
                <a href="" class="page-link">2</a>
              </li>
              <li class="paginate_button page-item next">
                <a href="" class="page-link">
                  <i class="next"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--end::Table-->
  </div>

  <!--end::Card body-->
</div>
