<ng-template #content let-modal>
  <!--begin::Modal Header-->
  <div class="modal-header align-items-center pb-0 border-0">
    <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr088.svg'"
      class="svg-icon svg-icon-2x svg-icon-white bg-danger mb-2 position-absolute top-0 end-0 border-bottom border-1 rounded cursor-pointer"
      (click)="modal.dismiss()"></span>
    <h3 class="align-items-start flex-row">
      <span [inlineSVG]="'./assets/media/icons/duotune/coding/cod001.svg'"
        class="svg-icon svg-icon-1 svg-icon-dark mb-2 me-4"></span>
      <span class="fw-bolder text-dark cursor-default">Options</span>
    </h3>
  </div>
  <hr class="hr hr-blurry" />
  <!-- end::Modal Header-->
  <!--begin::Modal Body-->
  <div class="modal-body">
    <div class="d-flex flex-row justify-content-between gy-3">
      <!--begin::Bill Split-->
      <div class="col-3 p-1 d-flex flex-column align-items-center justify-content-center">
        <span [inlineSVG]="'./assets/media/icons/duotune/ecommerce/ecm008.svg'"
          class="svg-icon svg-icon-3x svg-icon-muted mb-2"></span>
        <span>Bill Split</span>
      </div>
      <!--end::Bill Split-->
      <!--begin::Cash In-->
      <div class="col-3 p-1 d-flex flex-column align-items-center justify-content-center">
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr044.svg'"
          class="svg-icon svg-icon-3x svg-icon-success mb-2"></span>
        <span>Cash In</span>
      </div>
      <!--end::Cash Out-->
      <div class="col-3 p-1 d-flex flex-column align-items-center justify-content-center">
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr045.svg'"
          class="svg-icon svg-icon-3x svg-icon-danger mb-2"></span>
        <span>Cash Out</span>
      </div>
      <!--end::Cash Out-->
    </div>
    <div class="d-flex flex-row justify-content-between gy-3 pt-3">
      <!--begin::Bill Split-->
      <div class="col-3 p-1 d-flex flex-column align-items-center justify-content-center">
        <span [inlineSVG]="'./assets/media/icons/duotune/finance/fin002.svg'"
          class="svg-icon svg-icon-3x mb-2 svg-icon-danger"></span>
        <span>Credit Bills</span>
      </div>
      <!--end::Bill Split-->
      <!--begin::Cash In-->
      <div class="col-3 p-1 d-flex flex-column align-items-center justify-content-center">
        <span [inlineSVG]="'./assets/media/icons/duotune/files/fil003.svg'"
          class="svg-icon svg-icon-3x svg-icon-warning mb-2"></span>
        <span>Reports</span>
      </div>
      <!--end::Day End-->
      <div class="col-3 p-1 d-flex flex-column align-items-center justify-content-center">
        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen014.svg'"
          class="svg-icon svg-icon-3x mb-2 svg-icon-primary"></span>
        <span>Day End</span>
      </div>
      <!--end::Day End-->
    </div>
  </div>
  <!--end::Modal Body-->
</ng-template>

<!-- temp -->
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo
  modal</button>
