<div class="d-flex justify-content-center py-4 flex-column align-items-center">
  <span [inlineSVG]="'./assets/media/icons/duotune/abstract/abs005.svg'"
    class="svg-icon svg-icon-3x svg-icon-primary mb-2"></span>
  <span class="d-none d-lg-block fs-3 text-primary">Holux</span>
</div>
<div class="card mb-3">
  <div class="card-body">
    <div class="pt-4 pb-2">
      <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
      <p class="text-center small">Enter your personal details to create account</p>
    </div>
    <form class="row g-3 needs-validation" novalidate>
      <div class="col-12">
        <label for="fullname" class="form-label">Your Name</label> <input type="text"
          name="fullname" class="form-control" id="fullname" required
          [(ngModel)]="fullname">
        <div class="invalid-feedback">Please, enter your full name!</div>
      </div>
      <div class="col-12">
        <label for="email" class="form-label">Your Email</label> <input type="email"
          name="email" class="form-control" id="email" required [(ngModel)]="email">
        <div class="invalid-feedback">Please enter a valid Email adddress!</div>
      </div>
      <div class="col-12">
        <label for="username" class="form-label">Username</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">@</span> <input
            type="text" name="username" class="form-control" id="username" required
            [(ngModel)]="username">
          <div class="invalid-feedback">Please choose a username.</div>
        </div>
      </div>
      <div class="col-12">
        <label for="type" class="form-label">User Type</label>
        <select class="col-12 form-control text-left">
          <option>User</option>
          <option>Admin</option>
        </select>
        <div class="invalid-feedback">Please select user type!</div>
      </div>
      <div class="col-12">
        <label for="password" class="form-label">Password</label> <input type="password"
          name="password" class="form-control" id="password" required
          [(ngModel)]="password">
        <div class="invalid-feedback">Please enter your password!</div>
      </div>
      <div class="col-12">
        <label for="retypepassword" class="form-label">Re-type Password</label> <input
          type="password" name="retypepassword" class="form-control" id="retypepassword"
          required [(ngModel)]="retypePassword">
        <div class="text-primary" [ngClass]="{'d-none': !passwordsDoNotMatchError}">
          Passwords do not match!</div>
      </div>
      <div class="col-12"> <button class="btn btn-primary w-100" type="submit"
          (click)="signup()" (keyup.enter)="signup()">Create
          Account</button></div>
      <div class="text-primary text-center"
        [ngClass]="{'d-none': !emailAlreadyExistsError}">Email already exists!</div>
      <div class="text-primary text-center"
        [ngClass]="{'d-none': !usernameAlreadyExistsError}">Username already credentials!
      </div>
      <div class="col-12">
        <p class="small mb-0">Already have an account?&nbsp; <a
            routerLink="/pages-login">Log in</a></p>
      </div>
    </form>
  </div>
</div>
<div class="text-center pt-3 cursor-default"> Created by <span class="text-primary">Nipuna
    Upeksha</span></div>
