/*
Import fonts
*/
@import './assets/sass/style';

@font-face {
  font-family: 'poppins-regular';
  src: url(./assets/media/fonts/Poppins/PoppinsRegular.ttf) format('truetype');
}
@font-face {
  font-family: 'poppins-medium';
  src: url(./assets/media/fonts/Poppins/PoppinsMedium.ttf) format('truetype');
}
@font-face {
  font-family: 'poppins-semibold';
  src: url(./assets/media/fonts/Poppins/PoppinsSemiBold.ttf) format('truetype');
}
